@page "/chess"


<PageTitle>Luke Hamme Chess Coach</PageTitle>

<h1>Welcome to the Luke Hammer Chess Page</h1>
<p>Luke volunteers two different elementary schools teaching chess. </p>


<footer>
    <p>&copy; @DateTime.Now.Year Luke Hammer - Chess coach</p>
</footer>

