@page "/Chess"


<PageTitle>Luke Hammer Chess Coach</PageTitle>

<h1>Welcome to the Luke Hammer Chess Page</h1>
<p>Luke volunteers two different elementary schools teaching chess. </p>


<div> <a href="https://www.youtube.com/playlist?list=PLeSLxB4AGw22TXFqDNSfQ_0SwIjmNHoI5">Links to good chess training video</a></div>
<div> <a href="https://www.facebook.com/groups/411329418258793">Hazel Dell Chess Club facebook group</a></div>
<div> <a href="https://link.chess.com/friend/LUXjzp"> coach luke on chess.com</a></div>
<footer>
    <p>&copy; @DateTime.Now.Year Luke Hammer - Chess coach</p>
</footer>

