@page "/Levi"


<PageTitle>Levi's Home Page'</PageTitle>


<p> THU
18
@@ HDLL Marlins NL
at H.B. Fuller Company Park</p>

<footer>
    <p>&copy; @DateTime.Now.Year Luke Hammer - Chess coach</p>
</footer>

