@page "/LuckyLuke"

<PageTitle>Lucky Luke - Magician</PageTitle>

<h1>Welcome to the Lucky Luke Page</h1>
<p>To book a show reach out to me directly at <a href="tel:5035053005"> 503.505.3005</a> call or text. </p>

<p>Also you can book a show via <a href="https://www.facebook.com/LuckyLukeMagic/">Lucky Luke on Facebook</a></p>

<ul>
    <li><a href="https://www.youtube.com/@@luckylukemagic">youtube</a></li>
    <li><a href="https://www.facebook.com/LuckyLukeMagic/">facebook</a></li>
    <li><a href="https://g.page/r/CVPHL3dNOZC6EBM/review">Leave a Google review</a></li>
    <li><a href="https://www.yelp.com/biz/lucky-luke-magician-vancouver">My Yelp page</a></li>

    <li> Luke is a cool guy!!</li>

</ul>
    <footer>
        <p>&copy; @DateTime.Now.Year Lucky Luke - Magician</p>
    </footer>
