@page "/Resume"

<PageTitle>Luke Hammer Resume</PageTitle>

<h1>Luke Hammer resume page</h1>
<a href="https://1drv.ms/w/s!AgO4YsYcdBcOgZdwRyAyo188pluI9g?e=Khm7YB">Current Resume</a>


<p>any questions please reach out to me via <a href="tel:5035053005"> 503.505.3005</a> call or text. </p>


